.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-container01 {
  flex: 0 0 auto;
  width: 892px;
  height: 212px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 25px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: #f1f1f1;
}
.home-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-text01 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text02 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.home-text03 {
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
}
.home-container02 {
  flex: 0 0 auto;
  width: 752px;
  height: 134px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 2px;
}
.home-feature-card1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-icon {
  width: 24px;
  height: 24px;
}
.home-text04 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.home-text05 {
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
}
.home-feature-card2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-icon02 {
  width: 24px;
  height: 24px;
}
.home-text06 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.home-text07 {
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
}
.home-feature-card3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-icon04 {
  width: 24px;
  height: 24px;
}
.home-text08 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.home-text09 {
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
}
.home-container03 {
  width: 886px;
  height: 270px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 25px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: #f1f1f1;
}
.home-feature-card4 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  align-items: center;
  flex-direction: column;
}
.home-text11 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text12 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.home-text13 {
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
}
.home-feature-card5 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.home-text15 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text16 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.home-text17 {
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
}
.home-feature-card6 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.home-text19 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text20 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.home-text21 {
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
}
.home-feature-card7 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.home-text23 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text24 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.home-text25 {
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
}
.home-container04 {
  width: 886px;
  height: 342px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  z-index: 0;
  position: relative;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 25px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: #f1f1f1;
}
.home-container05 {
  top: var(--dl-space-space-unit);
  left: 470px;
  width: 114px;
  height: var(--dl-size-size-small);
  display: flex;
  z-index: 1;
  position: absolute;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 25px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: #c7c7c7;
}
.home-icon06 {
  width: 24px;
  height: 24px;
}
.home-container06 {
  top: var(--dl-space-space-unit);
  left: 592px;
  width: 114px;
  height: var(--dl-size-size-small);
  display: flex;
  z-index: 1;
  position: absolute;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 25px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: #c7c7c7;
}
.home-icon08 {
  width: 24px;
  height: 24px;
}
.home-container07 {
  top: var(--dl-space-space-unit);
  right: 122px;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  z-index: 1;
  position: absolute;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 25px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: #c7c7c7;
}
.home-icon10 {
  width: 24px;
  height: 24px;
}
.home-container08 {
  top: var(--dl-space-space-unit);
  right: 66px;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  z-index: 1;
  position: absolute;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 25px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: #c7c7c7;
}
.home-icon12 {
  width: 24px;
  height: 24px;
}
.home-container09 {
  top: var(--dl-space-space-unit);
  right: 12px;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  position: absolute;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 25px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: #c7c7c7;
}
.home-icon14 {
  width: 24px;
  height: 24px;
  z-index: 1;
}
.home-container10 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 875px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  bottom: 0px;
  height: 331px;
  margin: auto;
  display: flex;
  padding: var(--dl-space-space-twounits);
  z-index: 0;
  position: absolute;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 25px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: #f1f1f1;
}
@media(max-width: 991px) {
  .home-container01 {
    width: 718;
  }
  .home-container02 {
    width: 391px;
  }
  .home-feature-card1 {
    width: 174px;
  }
  .home-feature-card2 {
    width: 215px;
    height: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-feature-card3 {
    display: none;
  }
  .home-container03 {
    width: 718px;
    justify-content: center;
  }
  .home-container04 {
    width: 718px;
    justify-content: center;
  }
  .home-container05 {
    width: 718px;
    justify-content: center;
  }
  .home-container06 {
    width: 718px;
    justify-content: center;
  }
  .home-container07 {
    width: 718px;
    justify-content: center;
  }
  .home-container08 {
    width: 718px;
    justify-content: center;
  }
  .home-container09 {
    width: 718px;
    justify-content: center;
  }
  .home-container10 {
    width: 718px;
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .home-container01 {
    width: 470px;
  }
  .home-container02 {
    width: 317px;
  }
  .home-container03 {
    width: 470;
  }
  .home-feature-card4 {
    width: 141px;
  }
  .home-feature-card5 {
    width: 141px;
  }
  .home-feature-card6 {
    width: 141px;
  }
  .home-feature-card7 {
    width: 141px;
  }
  .home-container04 {
    width: 470;
  }
  .home-container05 {
    width: 470;
  }
  .home-container06 {
    width: 470;
  }
  .home-container07 {
    width: 470;
  }
  .home-container08 {
    width: 470;
  }
  .home-container09 {
    width: 470;
  }
  .home-container10 {
    width: 470;
  }
}
@media(max-width: 479px) {
  .home-container01 {
    width: 420px;
  }
  .home-container02 {
    width: 264px;
  }
  .home-container03 {
    width: 420;
    justify-content: center;
  }
  .home-feature-card4 {
    width: 115;
  }
  .home-text13 {
    text-align: center;
  }
  .home-feature-card5 {
    width: 115;
    margin-right: 0px;
  }
  .home-text17 {
    text-align: center;
  }
  .home-feature-card6 {
    width: 115;
  }
  .home-text21 {
    text-align: center;
  }
  .home-feature-card7 {
    width: 115;
  }
  .home-text25 {
    text-align: center;
  }
  .home-container04 {
    width: 420;
    justify-content: center;
  }
  .home-container05 {
    width: 420;
    justify-content: center;
  }
  .home-container06 {
    width: 420;
    justify-content: center;
  }
  .home-container07 {
    width: 420;
    justify-content: center;
  }
  .home-container08 {
    width: 420;
    justify-content: center;
  }
  .home-container09 {
    width: 420;
    justify-content: center;
  }
  .home-container10 {
    width: 420;
    justify-content: center;
  }
}
