.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-container1 {
  flex: 0 0 auto;
  width: 892px;
  height: 212px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 25px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: #f1f1f1;
}
.home-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-text01 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text02 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.home-text03 {
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
}
.home-container2 {
  flex: 0 0 auto;
  width: 752px;
  height: 134px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 2px;
}
.home-feature-card01 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-icon {
  width: 24px;
  height: 24px;
}
.home-text04 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.home-text05 {
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
}
.home-feature-card02 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-icon2 {
  width: 24px;
  height: 24px;
}
.home-text06 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.home-text07 {
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
}
.home-feature-card03 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-icon4 {
  width: 24px;
  height: 24px;
}
.home-text08 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.home-text09 {
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
}
.home-container3 {
  width: 886px;
  height: 342px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 25px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: #f1f1f1;
}
.home-feature-card04 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.home-text11 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text12 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.home-feature-card05 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.home-text14 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text15 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.home-feature-card06 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.home-text17 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text18 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.home-feature-card07 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.home-text20 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text21 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.home-feature-card08 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.home-text23 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text24 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.home-container4 {
  width: 886px;
  height: 342px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 25px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: #f1f1f1;
}
.home-feature-card09 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.home-text26 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text27 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.home-text28 {
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
}
.home-feature-card10 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.home-text30 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text31 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.home-text32 {
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
}
.home-feature-card11 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.home-text34 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text35 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.home-text36 {
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
}
.home-feature-card12 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text38 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text39 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.home-text40 {
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
}
@media(max-width: 991px) {
  .home-container1 {
    width: 718;
  }
  .home-container2 {
    width: 391px;
  }
  .home-feature-card01 {
    width: 174px;
  }
  .home-feature-card02 {
    width: 215px;
    height: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-feature-card03 {
    display: none;
  }
  .home-container3 {
    width: 718;
    justify-content: center;
  }
  .home-feature-card07 {
    display: none;
  }
  .home-feature-card08 {
    display: none;
  }
  .home-container4 {
    width: 718px;
    justify-content: center;
  }
  .home-feature-card12 {
    display: none;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .home-container1 {
    width: 470px;
  }
  .home-container2 {
    width: 317px;
  }
  .home-container3 {
    width: 470;
    height: 241px;
  }
  .home-feature-card04 {
    width: 141px;
  }
  .home-feature-card05 {
    width: 141px;
  }
  .home-feature-card06 {
    width: 141px;
  }
  .home-feature-card07 {
    margin-right: 0px;
  }
  .home-feature-card08 {
    margin-right: 0px;
  }
  .home-container4 {
    width: 470;
  }
  .home-feature-card09 {
    width: 141px;
  }
  .home-feature-card10 {
    width: 141px;
  }
  .home-feature-card11 {
    width: 141px;
  }
  .home-feature-card12 {
    margin-right: 0px;
  }
}
@media(max-width: 479px) {
  .home-container1 {
    width: 420px;
  }
  .home-container2 {
    width: 264px;
  }
  .home-container3 {
    width: 420;
    justify-content: center;
  }
  .home-feature-card04 {
    width: 115;
  }
  .home-feature-card05 {
    width: 115;
  }
  .home-feature-card06 {
    width: 115;
  }
  .home-container4 {
    width: 420;
    justify-content: center;
  }
  .home-feature-card09 {
    width: 115;
  }
  .home-text28 {
    text-align: center;
  }
  .home-feature-card10 {
    width: 115;
    margin-right: 0px;
  }
  .home-text32 {
    text-align: center;
  }
  .home-feature-card11 {
    width: 115;
  }
  .home-text36 {
    text-align: center;
  }
}
